polkit.addRule(function(action, subject) {
    if (subject.user === "comp" && action.id.indexOf("org.freedesktop.packagekit.") === 0) {
        return polkit.Result.YES;
    }
});
